In [1]:
import pandas as pd
df=pd.read_csv(r'C:\Users\DELL\Documents\heart.csv')
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
df.value_counts()

age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca  thal  target
38   1    2   138       175   0    1        173      0      0.0      2      4   2     1         2
59   1    0   110       239   0    0        142      1      1.2      1      1   3     0         1
          2   126       218   1    1        134      0      2.2      1      1   1     0         1
          1   140       221   0    1        164      1      0.0      2      0   2     1         1
          0   170       326   0    0        140      1      3.4      0      0   3     0         1
                                                                                               ..
51   1    2   94        227   0    1        154      1      0.0      2      1   3     1         1
          0   140       299   0    1        173      1      1.6      2      0   3     0         1
                        298   0    1        122      1      4.2      1      3   3     0         1
                        261   0    0        186      1      0.0      2      0   2     1         1
77   1    0   125       304   0    0        162      1      0.0      2      3   2     0         1
Length: 302, dtype: int64

In [3]:
y=df["target"]
x=df.drop(["trestbps","thal","target"],axis="columns")
x

     age  sex  cp  chol  fbs  restecg  thalach  exang  oldpeak  slope  ca
0     63    1   3   233    1        0      150      0      2.3      0   0
1     37    1   2   250    0        1      187      0      3.5      0   0
2     41    0   1   204    0        0      172      0      1.4      2   0
3     56    1   1   236    0        1      178      0      0.8      2   0
4     57    0   0   354    0        1      163      1      0.6      2   0
..   ...  ...  ..   ...  ...      ...      ...    ...      ...    ...  ..
298   57    0   0   241    0        1      123      1      0.2      1   0
299   45    1   3   264    0        1      132      0      1.2      1   0
300   68    1   0   193    1        1      141      0      3.4      1   2
301   57    1   0   131    0        1      115      1      1.2      1   1
302   57    0   1   236    0        0      174      0      0.0      1   1

[303 rows x 11 columns]

In [4]:
import keras
from keras.utils import to_categorical

y=to_categorical(y)
type(y)
y.shape

(303, 2)

In [5]:
# ARCHITECTURE
import keras

from keras.models import Sequential
from keras.layers import Dense

In [6]:
model=Sequential()
model.add(Dense(128,activation="relu",input_shape=(11,)))
model.add(Dense(64,activation="relu"))
model.add(Dense(2,activation="softmax"))

In [7]:
# MODEL COMPILATION

model.compile(optimizer="adam",loss="categorical_crossentropy",metrics=["accuracy"])

In [31]:
# MODEL FITTING
model.fit(x,y,epochs=50)

Epoch 1/50
10/10 [==============================] - 0s 2ms/step - loss: 0.4139 - accuracy: 0.8218
Epoch 2/50
10/10 [==============================] - 0s 2ms/step - loss: 0.4031 - accuracy: 0.8350
Epoch 3/50
10/10 [==============================] - 0s 2ms/step - loss: 0.4727 - accuracy: 0.7822
Epoch 4/50
10/10 [==============================] - 0s 3ms/step - loss: 0.4925 - accuracy: 0.7822
Epoch 5/50
10/10 [==============================] - 0s 2ms/step - loss: 0.6286 - accuracy: 0.7591
Epoch 6/50
10/10 [==============================] - 0s 2ms/step - loss: 0.6548 - accuracy: 0.7294
Epoch 7/50
10/10 [==============================] - 0s 2ms/step - loss: 0.4597 - accuracy: 0.7888
Epoch 8/50
10/10 [==============================] - 0s 3ms/step - loss: 0.3832 - accuracy: 0.8449
Epoch 9/50
10/10 [==============================] - 0s 2ms/step - loss: 0.3978 - accuracy: 0.8185
Epoch 10/50
10/10 [==============================] - 0s 2ms/step - loss: 0.3664 - accuracy: 0.8185
Epoch 11/50
10/10 [==============================] - 0s 2ms/step - loss: 0.3652 - accuracy: 0.8350
Epoch 12/50
10/10 [==============================] - 0s 2ms/step - loss: 0.3766 - accuracy: 0.8251
Epoch 13/50
10/10 [==============================] - 0s 2ms/step - loss: 0.3829 - accuracy: 0.8284
Epoch 14/50
10/10 [==============================] - 0s 2ms/step - loss: 0.4031 - accuracy: 0.8020
Epoch 15/50
10/10 [==============================] - 0s 2ms/step - loss: 0.4065 - accuracy: 0.8119
Epoch 16/50
10/10 [==============================] - 0s 4ms/step - loss: 0.4747 - accuracy: 0.7657
Epoch 17/50
10/10 [==============================] - 0s 3ms/step - loss: 0.4420 - accuracy: 0.7921
Epoch 18/50
10/10 [==============================] - 0s 3ms/step - loss: 0.3819 - accuracy: 0.8218
Epoch 19/50
10/10 [==============================] - 0s 3ms/step - loss: 0.4075 - accuracy: 0.8185
Epoch 20/50
10/10 [==============================] - 0s 3ms/step - loss: 0.4026 - accuracy: 0.8152
Epoch 21/50
10/10 [==============================] - 0s 3ms/step - loss: 0.4095 - accuracy: 0.8119
Epoch 22/50
10/10 [==============================] - 0s 3ms/step - loss: 0.5271 - accuracy: 0.7789
Epoch 23/50
10/10 [==============================] - 0s 2ms/step - loss: 0.4900 - accuracy: 0.7987
Epoch 24/50
10/10 [==============================] - 0s 3ms/step - loss: 0.5238 - accuracy: 0.7888
Epoch 25/50
10/10 [==============================] - 0s 3ms/step - loss: 0.4752 - accuracy: 0.7822
Epoch 26/50
10/10 [==============================] - 0s 3ms/step - loss: 0.5037 - accuracy: 0.7954
Epoch 27/50
10/10 [==============================] - 0s 3ms/step - loss: 0.4165 - accuracy: 0.7921
Epoch 28/50
10/10 [==============================] - 0s 2ms/step - loss: 0.5112 - accuracy: 0.7558
Epoch 29/50
10/10 [==============================] - 0s 2ms/step - loss: 0.4858 - accuracy: 0.7756
Epoch 30/50
10/10 [==============================] - 0s 3ms/step - loss: 0.3886 - accuracy: 0.8284
Epoch 31/50
10/10 [==============================] - 0s 3ms/step - loss: 0.3611 - accuracy: 0.8581
Epoch 32/50
10/10 [==============================] - 0s 2ms/step - loss: 0.4335 - accuracy: 0.7789
Epoch 33/50
10/10 [==============================] - ETA: 0s - loss: 0.6516 - accuracy: 0.71 - 0s 2ms/step - loss: 0.4413 - accuracy: 0.8053
Epoch 34/50
10/10 [==============================] - 0s 3ms/step - loss: 0.5699 - accuracy: 0.7624
Epoch 35/50
10/10 [==============================] - 0s 3ms/step - loss: 0.3646 - accuracy: 0.8449
Epoch 36/50
10/10 [==============================] - 0s 3ms/step - loss: 0.3696 - accuracy: 0.8383
Epoch 37/50
10/10 [==============================] - 0s 3ms/step - loss: 0.3765 - accuracy: 0.8284
Epoch 38/50
10/10 [==============================] - 0s 3ms/step - loss: 0.4369 - accuracy: 0.8251
Epoch 39/50
10/10 [==============================] - 0s 3ms/step - loss: 0.3681 - accuracy: 0.8251
Epoch 40/50
10/10 [==============================] - 0s 3ms/step - loss: 0.6497 - accuracy: 0.7591
Epoch 41/50
10/10 [==============================] - 0s 3ms/step - loss: 0.5791 - accuracy: 0.7789
Epoch 42/50
10/10 [==============================] - 0s 3ms/step - loss: 0.5729 - accuracy: 0.7756
Epoch 43/50
10/10 [==============================] - 0s 3ms/step - loss: 0.5032 - accuracy: 0.7987
Epoch 44/50
10/10 [==============================] - 0s 3ms/step - loss: 0.5438 - accuracy: 0.7855
Epoch 45/50
10/10 [==============================] - 0s 2ms/step - loss: 0.4171 - accuracy: 0.8086
Epoch 46/50
10/10 [==============================] - 0s 2ms/step - loss: 0.4930 - accuracy: 0.7690
Epoch 47/50
10/10 [==============================] - 0s 3ms/step - loss: 0.5182 - accuracy: 0.7789
Epoch 48/50
10/10 [==============================] - 0s 3ms/step - loss: 0.3796 - accuracy: 0.8449
Epoch 49/50
10/10 [==============================] - 0s 3ms/step - loss: 0.3967 - accuracy: 0.8053
Epoch 50/50
10/10 [==============================] - 0s 3ms/step - loss: 0.3703 - accuracy: 0.8284

In [ ]:
# MODEL PREDICTIONS

In [32]:
data=pd.DataFrame({"age":[63],"sex":[1],"cp":[3],"chol":[233],"fbs":[1],"restecg":[0],"thalach":[150],"exang":[0],"oldpeak":[2.3],"slope":[0],"ca":[0]})

In [33]:
model.predict(data)

array([[0.03071052, 0.9692895 ]], dtype=float32)

In [34]:
df

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [35]:
data=pd.DataFrame({"age":[40],"sex":[1],"cp":[3],"chol":[246],"fbs":[0],"restecg":[1],"thalach":[123],"exang":[1],"oldpeak":[2.3],"slope":[2],"ca":[1]})

In [36]:
model.predict(data)

array([[0.24660431, 0.75339574]], dtype=float32)

In [37]:
data=pd.DataFrame({"age":[41],"sex":[0],"cp":[1],"chol":[204],"fbs":[0],"restecg":[1],"thalach":[172],"exang":[1],"oldpeak":[1.4],"slope":[2],"ca":[0]})

In [38]:
model.predict(data)

array([[0.01532441, 0.9846756 ]], dtype=float32)

In [41]:
data=pd.DataFrame({"age":[57],"sex":[0],"cp":[0],"chol":[241],"fbs":[0],"restecg":[1],"thalach":[123],"exang":[1],"oldpeak":[0.2],"slope":[1],"ca":[0]})

In [42]:
model.predict(data)

array([[0.06411096, 0.935889  ]], dtype=float32)