In [22]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
df=pd.read_csv(r'C:\Users\DELL\Documents\IRIS.csv')
df.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   species       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [9]:
df.isnull().sum()

sepal_length    0
sepal_width     0
petal_length    0
petal_width     0
species         0
dtype: int64

In [20]:
#ONE HOT ENCODING
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [13]:
df['species']=le.fit_transform(df['species'])
df.head()

   sepal_length  sepal_width  petal_length  petal_width  species
0           5.1          3.5           1.4          0.2        0
1           4.9          3.0           1.4          0.2        0
2           4.7          3.2           1.3          0.2        0
3           4.6          3.1           1.5          0.2        0
4           5.0          3.6           1.4          0.2        0

In [14]:
y=df['species']
x=df.drop(['species'],axis='columns')
x

     sepal_length  sepal_width  petal_length  petal_width
0             5.1          3.5           1.4          0.2
1             4.9          3.0           1.4          0.2
2             4.7          3.2           1.3          0.2
3             4.6          3.1           1.5          0.2
4             5.0          3.6           1.4          0.2
..            ...          ...           ...          ...
145           6.7          3.0           5.2          2.3
146           6.3          2.5           5.0          1.9
147           6.5          3.0           5.2          2.0
148           6.2          3.4           5.4          2.3
149           5.9          3.0           5.1          1.8

[150 rows x 4 columns]

# USING SEQUENTIAL MODEL

In [15]:
import keras
from keras.utils import to_categorical

y=to_categorical(y)
type(y)
y.shape

(150, 3)

In [16]:
import keras

from keras.models import Sequential
from keras.layers import Dense

In [17]:
model=Sequential()
model.add(Dense(128,activation='relu',input_shape=(4,)))
model.add(Dense(64,activation="relu"))
model.add(Dense(3,activation="softmax"))

In [18]:
model.compile(optimizer="adam",loss="categorical_crossentropy",metrics=["accuracy"])

In [19]:
model.fit(x,y,epochs=50)

Epoch 1/50
5/5 [==============================] - 1s 4ms/step - loss: 0.9883 - accuracy: 0.4740
Epoch 2/50
5/5 [==============================] - 0s 3ms/step - loss: 0.8363 - accuracy: 0.6932
Epoch 3/50
5/5 [==============================] - 0s 3ms/step - loss: 0.7411 - accuracy: 0.7247
Epoch 4/50
5/5 [==============================] - 0s 5ms/step - loss: 0.6610 - accuracy: 0.8110
Epoch 5/50
5/5 [==============================] - 0s 3ms/step - loss: 0.5632 - accuracy: 0.7729
Epoch 6/50
5/5 [==============================] - 0s 2ms/step - loss: 0.5268 - accuracy: 0.7615
Epoch 7/50
5/5 [==============================] - 0s 3ms/step - loss: 0.4908 - accuracy: 0.9819
Epoch 8/50
5/5 [==============================] - 0s 3ms/step - loss: 0.4522 - accuracy: 0.9319
Epoch 9/50
5/5 [==============================] - 0s 3ms/step - loss: 0.4302 - accuracy: 0.8877
Epoch 10/50
5/5 [==============================] - 0s 3ms/step - loss: 0.3782 - accuracy: 0.9558
Epoch 11/50
5/5 [==============================] - 0s 3ms/step - loss: 0.3597 - accuracy: 0.9310
Epoch 12/50
5/5 [==============================] - 0s 3ms/step - loss: 0.3515 - accuracy: 0.9573
Epoch 13/50
5/5 [==============================] - 0s 3ms/step - loss: 0.3459 - accuracy: 0.9441
Epoch 14/50
5/5 [==============================] - 0s 3ms/step - loss: 0.3061 - accuracy: 0.9776
Epoch 15/50
5/5 [==============================] - 0s 3ms/step - loss: 0.3035 - accuracy: 0.9529
Epoch 16/50
5/5 [==============================] - 0s 3ms/step - loss: 0.2612 - accuracy: 0.9780
Epoch 17/50
5/5 [==============================] - 0s 4ms/step - loss: 0.2604 - accuracy: 0.9614
Epoch 18/50
5/5 [==============================] - 0s 3ms/step - loss: 0.2227 - accuracy: 0.9842
Epoch 19/50
5/5 [==============================] - 0s 3ms/step - loss: 0.2223 - accuracy: 0.9811
Epoch 20/50
5/5 [==============================] - 0s 3ms/step - loss: 0.2472 - accuracy: 0.9611
Epoch 21/50
5/5 [==============================] - 0s 3ms/step - loss: 0.2319 - accuracy: 0.9711
Epoch 22/50
5/5 [==============================] - 0s 2ms/step - loss: 0.2111 - accuracy: 0.9602
Epoch 23/50
5/5 [==============================] - 0s 2ms/step - loss: 0.1996 - accuracy: 0.9772
Epoch 24/50
5/5 [==============================] - 0s 2ms/step - loss: 0.1894 - accuracy: 0.9712
Epoch 25/50
5/5 [==============================] - 0s 1ms/step - loss: 0.1888 - accuracy: 0.9611
Epoch 26/50
5/5 [==============================] - 0s 3ms/step - loss: 0.1628 - accuracy: 0.9811
Epoch 27/50
5/5 [==============================] - 0s 2ms/step - loss: 0.1745 - accuracy: 0.9659
Epoch 28/50
5/5 [==============================] - ETA: 0s - loss: 0.1612 - accuracy: 1.00 - 0s 2ms/step - loss: 0.1574 - accuracy: 0.9798
Epoch 29/50
5/5 [==============================] - 0s 4ms/step - loss: 0.1484 - accuracy: 0.9890
Epoch 30/50
5/5 [==============================] - 0s 2ms/step - loss: 0.1557 - accuracy: 0.9546
Epoch 31/50
5/5 [==============================] - 0s 2ms/step - loss: 0.1544 - accuracy: 0.9664
Epoch 32/50
5/5 [==============================] - 0s 4ms/step - loss: 0.1313 - accuracy: 0.9781
Epoch 33/50
5/5 [==============================] - 0s 3ms/step - loss: 0.1415 - accuracy: 0.9689
Epoch 34/50
5/5 [==============================] - 0s 4ms/step - loss: 0.1495 - accuracy: 0.9589
Epoch 35/50
5/5 [==============================] - 0s 3ms/step - loss: 0.1180 - accuracy: 0.9733
Epoch 36/50
5/5 [==============================] - 0s 3ms/step - loss: 0.1221 - accuracy: 0.9558
Epoch 37/50
5/5 [==============================] - 0s 4ms/step - loss: 0.1196 - accuracy: 0.9681
Epoch 38/50
5/5 [==============================] - 0s 3ms/step - loss: 0.1247 - accuracy: 0.9651
Epoch 39/50
5/5 [==============================] - 0s 3ms/step - loss: 0.1219 - accuracy: 0.9660
Epoch 40/50
5/5 [==============================] - 0s 1ms/step - loss: 0.1081 - accuracy: 0.9737
Epoch 41/50
5/5 [==============================] - 0s 4ms/step - loss: 0.0923 - accuracy: 0.9847
Epoch 42/50
5/5 [==============================] - 0s 3ms/step - loss: 0.1177 - accuracy: 0.9607
Epoch 43/50
5/5 [==============================] - 0s 3ms/step - loss: 0.0751 - accuracy: 0.9876
Epoch 44/50
5/5 [==============================] - 0s 3ms/step - loss: 0.0916 - accuracy: 0.9890
Epoch 45/50
5/5 [==============================] - 0s 3ms/step - loss: 0.0899 - accuracy: 0.9724
Epoch 46/50
5/5 [==============================] - 0s 3ms/step - loss: 0.1132 - accuracy: 0.9625
Epoch 47/50
5/5 [==============================] - 0s 3ms/step - loss: 0.1005 - accuracy: 0.9755
Epoch 48/50
5/5 [==============================] - 0s 3ms/step - loss: 0.0962 - accuracy: 0.9768
Epoch 49/50
5/5 [==============================] - 0s 3ms/step - loss: 0.0893 - accuracy: 0.9690
Epoch 50/50
5/5 [==============================] - 0s 3ms/step - loss: 0.0997 - accuracy: 0.9790

In [50]:
#USING LOGISTIC REGRESSION
from sklearn.model_selection import train_test_split
x=df.drop(columns='species')
y=df['species']
x_train , x_test, y_train, y_test= train_test_split(x,y,test_size=0.40)

In [51]:
from sklearn.linear_model import LogisticRegression
model=LogisticRegression()

In [52]:
model.fit(x_train,y_train)

LogisticRegression()

In [53]:
print('accuracy',model.score(x_test,y_test)*100)

accuracy 91.66666666666666

In [54]:
# using knn
from sklearn.neighbors import KNeighborsClassifier
model=KNeighborsClassifier()

In [55]:
model.fit(x_train,y_train)

KNeighborsClassifier()

In [56]:
model.score(x_test,y_test)

0.95

In [57]:
#decision tree
from sklearn.tree import DecisionTreeClassifier
model=DecisionTreeClassifier()

In [58]:
model.fit(x_train,y_train)
model.score(x_test,y_test)

0.9333333333333333